* {
  padding: 1px;
  margin: 1px;
}

body {
  height: 100vh;
  background-color:silver;
}

nav {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  display: inline-block;
  background-color:gainsboro;
}

.weather-box {
    margin: 4px;
    padding: 4px;
    border: solid black;
    box-shadow: 4px 4px 4px;
    background-color: rgb(195, 250, 196);
}

.button-list {
    background-color:rgb(182, 218, 204);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 10px 24px;
}

.button-list button {
    background-color: #7e8ebe; 
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 10px 24px;
    width: 50%;
    display: block;
    margin: auto;
    font-family: monospace;
  }
  
  .button-list button:not(:last-child) {
    border-bottom: none;
  }
  
  .button-list button:hover {
    background-color: #c8cc96;
  }


  .weather-container div {
    text-wrap: wrap;
  }

  .weather-container div h4, p {
    font-size: 80%;
  }

  #weather-title {
    margin-right: 30px;
  }

